In [1]:
import pandas as pd
import json
import os

In [8]:
# Define o nome do arquivo JSON
arquivo = 'dados_vendas_clientes.json'

# **OPÇÃO 1: Se o arquivo estiver no mesmo diretório do script**
# dados_df = pd.read_json(nome_arquivo)

# **OPÇÃO 2: Se o arquivo estiver em um subdiretório específico ('base_dados' neste caso)**
# Você pode construir o caminho completo usando os.path.join para compatibilidade entre sistemas operacionais.
diretorio_base = os.getcwd() # Obtém o diretório de trabalho atual
caminho_completo_arquivo = os.path.join(diretorio_base, 'base_dados', arquivo)
dados = pd.read_json(caminho_completo_arquivo)

# Normalizando os dados com os parâmetros record_path e meta
dados = pd.json_normalize(dados['dados_vendas'])

# Exibindo as primeiras linhas do DataFrame para verificar
print("DataFrame criado com sucesso! Primeiras linhas:")
print(dados.head())

# Para verificar as informações básicas do DataFrame (número de linhas, colunas, tipos de dados)
print("\nInformações do DataFrame:")
dados.info()

DataFrame criado com sucesso! Primeiras linhas:
  Data de venda                                            Cliente  \
0    06/06/2022  [@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...
1    07/06/2022  [Isabely JOanes 738, Isabely JOanes 738, Isabe...
2    08/06/2022  [Isabely JOanes 738, JOãO Gabriel 671, Julya m...
3    09/06/2022  [Julya meireles 914, MaRIA Julia 444, MaRIA Ju...
4    10/06/2022  [MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...

                                Valor da compra
0    [R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]
1  [R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]
2  [R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]
3   [R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]
4  [R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]

Informações do DataFrame:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Data de venda    5 non-null      object
 1   Cliente          5 non-null      object
 2   Valor da compra  5 non-null      object
dtypes: object(3)
memory usage: 252.0+ bytes

In [6]:
dados.head()

,Data de venda,Cliente,Valor da compra
0,06/06/2022,"[@ANA _LUCIA 321, DieGO ARMANDIU 210, DieGO AR...","[R$ 836,5, R$ 573,33, R$ 392,8, R$ 512,34]"
1,07/06/2022,"[Isabely JOanes 738, Isabely JOanes 738, Isabe...","[R$ 825,31, R$ 168,07, R$ 339,18, R$ 314,69]"
2,08/06/2022,"[Isabely JOanes 738, JOãO Gabriel 671, Julya m...","[R$ 682,05, R$ 386,34, R$ 622,65, R$ 630,79]"
3,09/06/2022,"[Julya meireles 914, MaRIA Julia 444, MaRIA Ju...","[R$ 390,3, R$ 759,16, R$ 334,47, R$ 678,78]"
4,10/06/2022,"[MaRIA Julia 444, PEDRO PASCO 812, Paulo castr...","[R$ 314,24, R$ 311,15, R$ 899,16, R$ 885,24]"