In [1]:
import pandas as pd

In [16]:
import os

# Obtém o diretório de trabalho atual
diretorio_base = os.getcwd()

# Define o caminho relativo para o arquivo HTML
dados_html = 'filmes_wikipedia.html'
caminho_arquivo = os.path.join(diretorio_base, 'base_dados', dados_html)

# Lendo o arquivo HTML
try:
    with open(caminho_arquivo, 'r', encoding='utf-8') as f:
        conteudo_html = f.read()
except FileNotFoundError:
    print(f"Erro: O arquivo '{dados_html}' não foi encontrado no caminho: '{caminho_arquivo}'")
    exit()

# Agora a variável 'conteudo_html' contém todo o conteúdo do seu arquivo HTML como uma string.
# Você pode imprimir para visualizar (se não for muito grande).
# print(conteudo_html)

print(f"Arquivo '{dados_html}' lido com sucesso. O conteúdo está na variável 'conteudo_html'.")

Arquivo 'filmes_wikipedia.html' lido com sucesso. O conteúdo está na variável 'conteudo_html'.

In [19]:
dados_html = pd.read_html(caminho_arquivo)

In [20]:
dados_html

[       0                      1
 0   1998             100 Movies
 1   1999              100 Stars
 2   2000             100 Laughs
 3   2001            100 Thrills
 4   2002           100 Passions
 5   2003  100 Heroes & Villains
 6   2004              100 Songs
 7   2005       100 Movie Quotes
 8   2005              25 Scores
 9   2006             100 Cheers
 10  2006            25 Musicals
 11  2007   100 Movies (Updated)
 12  2008        AFI's 10 Top 10
 13   vte                    vte,
                             Film  Release year              Director  \
 0                   Citizen Kane          1941          Orson Welles
 1                     Casablanca          1942        Michael Curtiz
 2                  The Godfather          1972  Francis Ford Coppola
 3             Gone with the Wind          1939        Victor Fleming
 4             Lawrence of Arabia          1962            David Lean
 ..                           ...           ...                   ...
 95                 The Searchers          1956             John Ford
 96              Bringing Up Baby          1938          Howard Hawks
 97                    Unforgiven          1992        Clint Eastwood
 98  Guess Who's Coming to Dinner          1967        Stanley Kramer
 99           Yankee Doodle Dandy          1942        Michael Curtiz

                       Production companies  Rank
 0                       RKO Radio Pictures     1
 1                    Warner Bros. Pictures     2
 2   Paramount Pictures, Alfran Productions     3
 3          Selznick International Pictures     4
 4                         Horizon Pictures     5
 ..                                     ...   ...
 95                  C. V. Whitney Pictures    96
 96                      RKO Radio Pictures    97
 97                     The Malpaso Company    98
 98                       Columbia Pictures    99
 99                   Warner Bros. Pictures   100

 [100 rows x 5 columns],
           hidevteAFI's 100 Years...100 Movies (1998)  \
 0  Citizen Kane (1941) Casablanca (1942) The Godf...

         hidevteAFI's 100 Years...100 Movies (1998).1
 0  Citizen Kane (1941) Casablanca (1942) The Godf...  ]

In [21]:
type(dados_html)

list

In [22]:
len(dados_html)

3

In [23]:
top_filmes = dados_html[1]

In [24]:
top_filmes

,Film,Release year,Director,Production companies,Rank
0,Citizen Kane,1941,Orson Welles,RKO Radio Pictures,1
1,Casablanca,1942,Michael Curtiz,Warner Bros. Pictures,2
2,The Godfather,1972,Francis Ford Coppola,"Paramount Pictures, Alfran Productions",3
3,Gone with the Wind,1939,Victor Fleming,Selznick International Pictures,4
4,Lawrence of Arabia,1962,David Lean,Horizon Pictures,5
...,...,...,...,...,...
95,The Searchers,1956,John Ford,C. V. Whitney Pictures,96
96,Bringing Up Baby,1938,Howard Hawks,RKO Radio Pictures,97
97,Unforgiven,1992,Clint Eastwood,The Malpaso Company,98
98,Guess Who's Coming to Dinner,1967,Stanley Kramer,Columbia Pictures,99
99,Yankee Doodle Dandy,1942,Michael Curtiz,Warner Bros. Pictures,100

In [25]:
top_filmes.to_html('top_filmes.html')

In [26]:
top_filmes.to_csv('top_filmes_1998.csv', index=False)

In [27]:
# Obtém o diretório de trabalho atual
diretorio_base = os.getcwd()

# Define o caminho relativo para o arquivo HTML
dados_xml = 'imdb_top_1000.xml'
caminho_arquivo = os.path.join(diretorio_base, 'base_dados', dados_xml)

# Lendo o arquivo HTML
try:
    with open(caminho_arquivo, 'r', encoding='utf-8') as f:
        conteudo_xml = f.read()
except FileNotFoundError:
    print(f"Erro: O arquivo '{dados_xml}' não foi encontrado no caminho: '{caminho_arquivo}'")
    exit()

# Agora a variável 'conteudo_html' contém todo o conteúdo do seu arquivo HTML como uma string.
# Você pode imprimir para visualizar (se não for muito grande).
# print(conteudo_html)

print(f"Arquivo '{dados_xml}' lido com sucesso. O conteúdo está na variável 'conteudo_xml'.")

Arquivo 'imdb_top_1000.xml' lido com sucesso. O conteúdo está na variável 'conteudo_xml'.

In [28]:
dados_xml = pd.read_xml(caminho_arquivo)

In [29]:
dados_xml

,index,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142 min,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,"28,341,469"
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175 min,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,"134,966,411"
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152 min,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,"534,858,444"
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202 min,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,"57,300,000"
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96 min,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,"4,360,000"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,995,https://m.media-amazon.com/images/M/MV5BNGEwMT...,Breakfast at Tiffany's,1961,A,115 min,"Comedy, Drama, Romance",7.6,A young New York socialite becomes interested ...,76.0,Blake Edwards,Audrey Hepburn,George Peppard,Patricia Neal,Buddy Ebsen,166544,None
996,996,https://m.media-amazon.com/images/M/MV5BODk3Yj...,Giant,1956,G,201 min,"Drama, Western",7.6,Sprawling epic covering the life of a Texas ca...,84.0,George Stevens,Elizabeth Taylor,Rock Hudson,James Dean,Carroll Baker,34075,None
997,997,https://m.media-amazon.com/images/M/MV5BM2U3Yz...,From Here to Eternity,1953,Passed,118 min,"Drama, Romance, War",7.6,"In Hawaii in 1941, a private is cruelly punish...",85.0,Fred Zinnemann,Burt Lancaster,Montgomery Clift,Deborah Kerr,Donna Reed,43374,"30,500,000"
998,998,https://m.media-amazon.com/images/M/MV5BZTBmMj...,Lifeboat,1944,None,97 min,"Drama, War",7.6,Several survivors of a torpedoed merchant ship...,78.0,Alfred Hitchcock,Tallulah Bankhead,John Hodiak,Walter Slezak,William Bendix,26471,None
999,999,https://m.media-amazon.com/images/M/MV5BMTY5OD...,The 39 Steps,1935,None,86 min,"Crime, Mystery, Thriller",7.6,A man in London tries to help a counter-espion...,93.0,Alfred Hitchcock,Robert Donat,Madeleine Carroll,Lucie Mannheim,Godfrey Tearle,51853,None

In [30]:
dados_xml.to_xml('filmes_imdb.xml')

In [31]:
url = 'https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o'

In [33]:
dados_paises = pd.read_html(url)

In [34]:
dados_paises

[     Unnamed: 0 Posição    País (ou território dependente) Estimativa da ONU  \
 0           NaN       1                              Índia     1 429 921 746
 1           NaN       2                              China     1 426 391 281
 2           NaN       3                     Estados Unidos       346 353 341
 3           NaN       4                          Indonésia       277 184 719
 4           NaN       5                          Paquistão       240 215 932
 ..          ...     ...                                ...               ...
 245         NaN       –     Ilha de Ascensão (Reino Unido)             1 100
 246         NaN     195                           Vaticano               879
 247         NaN       –  Ilhas Cocos (Keeling) (Austrália)               605
 248         NaN       –     Tristão da Cunha (Reino Unido)               264
 249         NaN       –       Ilhas Pitcairn (Reino Unido)                67

     Crescimento desde a última estimativa      Estimativa Oficial
 0                            +269.108.746      Estimativa oficial
 1                             +87.778.313           Censo oficial
 2                             +31.241.565           Censo oficial
 3                             +33.168.546      Estimativa oficial
 4                             +65.636.932      Estimativa oficial
 ..                                    ...                     ...
 245                                   NaN  Estimativa oficial[10]
 246                                   NaN      Estimativa oficial
 247                                   NaN      Estimativa oficial
 248                                   NaN  Estimativa oficial[11]
 249                                   NaN      Estimativa oficial

 [250 rows x 6 columns],
    vdeListas de países                              vdeListas de países.1
 0             Ambiente  Bem-estar sustentável Desempenho ambiental Emi...
 1              Códigos  COI FIFA FIPS ISO Prefixo naval Telefônicos TL...
 2           Demografia  Esperança de vida Fecundidade Imigrantes Morta...
 3             Economia  Capacidade Nacional Capital Humano Competitivi...
 4              Consumo  Bebidas Cerveja Idade legal Cannabis Adultos C...
 5              Energia  Eletricidade Produção Renovável Gás Natural Ex...
 6                  PIB  Crescimento Real PIB Nominal per capita PIB po...
 7             Produção  Alumínio Antimônio Bauxita Bismuto Carvão Rese...
 8           Transporte  Aeroportos Automóveis per capita Produzidos He...
 9            Geografia  Área Capital Continente Fronteiras Terrestres ...
 10         Militarismo  Armas de fogo Artilharia Batalhas Blindados de...
 11              Órgãos  BRICS Commonwealth COI CPLP Estatuto de Roma F...
 12            Política  Chefes de Estado e de Governo Constituições Co...
 13               Saúde  Antidepressivos HIV/AIDS em adultos Obesidade ...
 14            Símbolos  Emblemas Etimologia Gentílicos Grafias múltipl...
 15           Sociedade  Aborto Arranha-céus e estruturas Data de funda...,
             0                                                  1
 0     Consumo  Bebidas Cerveja Idade legal Cannabis Adultos C...
 1     Energia  Eletricidade Produção Renovável Gás Natural Ex...
 2         PIB  Crescimento Real PIB Nominal per capita PIB po...
 3    Produção  Alumínio Antimônio Bauxita Bismuto Carvão Rese...
 4  Transporte  Aeroportos Automóveis per capita Produzidos He...]

In [35]:
type(dados_paises)

list

In [36]:
len(dados_paises)

3

In [39]:
estimativas_populacionais = dados_paises[0]

In [40]:
estimativas_populacionais

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,NaN,2,China,1 426 391 281,+87.778.313,Censo oficial
2,NaN,3,Estados Unidos,346 353 341,+31.241.565,Censo oficial
3,NaN,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,NaN,195,Vaticano,879,NaN,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial

In [41]:
pd.read_html('https://pt.wikipedia.org/wiki/Lista_de_pa%C3%ADses_por_popula%C3%A7%C3%A3o')[0]

,Unnamed: 0,Posição,País (ou território dependente),Estimativa da ONU,Crescimento desde a última estimativa,Estimativa Oficial
0,NaN,1,Índia,1 429 921 746,+269.108.746,Estimativa oficial
1,NaN,2,China,1 426 391 281,+87.778.313,Censo oficial
2,NaN,3,Estados Unidos,346 353 341,+31.241.565,Censo oficial
3,NaN,4,Indonésia,277 184 719,+33.168.546,Estimativa oficial
4,NaN,5,Paquistão,240 215 932,+65.636.932,Estimativa oficial
...,...,...,...,...,...,...
245,NaN,–,Ilha de Ascensão (Reino Unido),1 100,NaN,Estimativa oficial[10]
246,NaN,195,Vaticano,879,NaN,Estimativa oficial
247,NaN,–,Ilhas Cocos (Keeling) (Austrália),605,NaN,Estimativa oficial
248,NaN,–,Tristão da Cunha (Reino Unido),264,NaN,Estimativa oficial[11]
249,NaN,–,Ilhas Pitcairn (Reino Unido),67,NaN,Estimativa oficial